.header{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 40px 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.header-menu a{
    font-size: 1.125rem;
    font-weight: 500;
    color: #141414;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

@media (max-width: 800px) {
    .header{
        flex-direction: column;
        gap: 40px;
        padding: 20px;
    }
    .header-menu a{
        background-color: #f0f0f0;
        border-radius: 1px solid #e0e0e0;
        border-radius: 5px;
    }
}